* {
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
    margin: 0 auto;
}

#trait {
    font-size: 600%;
}

div.trait-region {
    margin: 2em;
}

button {
    position: relative;
    vertical-align: top;
    width: 10%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: outline ease-in-out 0.2s;
}

button:focus {
    outline: 4px solid #80399d;
}

button:active {
    transform: scale(0.99);
}

button.positive {
    background: #1abc9c;
    -webkit-box-shadow: inset 0 -2px #12ab8d;
    box-shadow: inset 0 -2px #12ab8d;
    border-bottom: 2px solid #12ab8d;
}

button.neutral {
    background: #3498db;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
    border-bottom: 2px solid #2a8bcc;
}

button.negative {
    background: #d35400;
    -webkit-box-shadow: inset 0 -2px #c54e00;
    box-shadow: inset 0 -2px #c54e00;
    border-bottom: 2px solid #c54e00;
}

button.any {
    background: #859596;
    -webkit-box-shadow: inset 0 -2px #95a5a6;
    box-shadow: inset 0 -2px #95a5a6;
    border-bottom: 2px solid #95a5a6;
}